@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

:root {
  --white: #fff; /* белый */
  --translucent-white: #d7ccc0; /* полупрозрачный белый */
  --bright: #f5f4f0; /* светлый */
  --base: #fe8a02; /* Основной */
  --base_dark: #42413c; /* Основной тёмный */
  --dark: #2a2626; /* Тёмный */
  --translucent-dark: #908d8b; /* Полупрозрачный тёмный */
  --brown: #b09a81; /* Коричневый */
  --blue: #1085c5; /* Синий  */
}

*,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

html,
body,
section {
  width: 1100px;
  height: 100%;
  padding: 0; /* overflow-x: hidden; */
  margin: 0;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Neucha", cursive;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.header {
  /* position: absolute; */
  top: 0 px;
  left: 0 px;
  width: 1440px;
  height: 914px;
}

.header::before {
  position: absolute; /* align-content: left; */
  top: 0 px;
  left: 0 px;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(Images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.title-main {
  position: absolute;
  top: 100px;
  left: 165px;
  width: 1138px;
  height: 258px;
  text-align: left;
}

.title-1 {
  top: 100px;
  left: 165px;
  width: 1138px;
  height: 177.12px;
  color: var(--base);
}

.title-2 {
  top: 284.29px;
  left: 165px;
  width: 1138px;
  height: 73.71px;
  color: var(--dark);
}

.main-foto {
  position: absolute;
  top: 45px;
  left: 444px;
  width: 1082.81px;
  height: 525px;
}

.text-main {
  position: relative;
  height: 186px;
  margin-top: 560px;
  text-align: left;
}

.text-1 {
  position: absolute;
  left: 165px;
  width: 540px;
  height: 141px;
}

.text-2 {
  position: absolute;
  left: 740px;
  width: 540px;
  height: 186px;
}

.button {
  position: absolute;
  top: 210px;
  left: 715px;
  width: 148px;
  height: 49px;
  margin: 12px 24px;
  background-color: var(--base);
}

/** БЛОК ВИДЕО */

.video-main {
  position: absolute; /* position: relative; */
  top: 914px;
  left: 0 px;
  width: 1440px;
  height: 914px;
}

.title-video {
  position: absolute;
  top: 100px;
  left: 165px;
  width: 1110px;
  height: 220px;
  margin-bottom: 100px;
  text-align: center;
}

.title-video-1 {
  margin-top: 32px;
}

.text-video-1 .title-video-1 {
  align-items: center;
  color: var(--dark);
}

.text-video-2 {
  color: var(--base);
  text-align: center;
}

.video {
  position: absolute;
  top: 360px;
  left: 261px;
  z-index: 1;
  align-items: center;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav {
  position: absolute;
  top: 1730px;
  left: 0 px;
  width: 1440px;
  height: 991px;
  padding-bottom: 100px;
  background: var(--base_dark);
}

table {
  position: relative;
  left: 130px;
  width: 1170px;
  height: 691px;
  padding-top: 180px;
  border-spacing: 30px 20px;
  border-collapse: separate;
}

td {
  background-color: white;
}

.card-main {
  font-family: "Neucha", cursive;
  font-size: 52px;
  line-height: 120%;
  color: var(--base);
  text-align: top;
  background: var(--base_dark);
}

span {
  color: var(--white);
}

.card {
  width: 350px;
  padding: 24px;
  vertical-align: top;
}

.num {
  position: relative;
  top: 24px;
  height: 64px;
  margin-bottom: 40px;
  font-family: "Neucha", cursive;
  font-size: 64px;
  font-weight: 400;
}

.card-title {
  margin-bottom: 16px;
  font-family: "Neucha", cursive;
  font-size: 34px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  color: var(--base);
}

/* .card-text > p {
  margin-bottom: 0 px;
} */

/*! Посчитать все расстояния начиная с видео */

/* отработать branch соединить потом */

/* найти css linter */
