@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");
/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
/* font-family: 'Neucha', cursive; */

:root {
   --white: #fff;
   /* белый */
   --translucent-white: #d7ccc0;
   /* полупрозрачный белый */
   --bright: #f5f4f0;
   /* светлый */
   --base: #fe8a02;
   /* Основной */
   --base_dark: #42413c;
   /* Основной тёмный */
   --dark: #2a2626;
   /* Тёмный */
   --translucent-dark: #908d8b;
   /* Полупрозрачный тёмный */
   --brown: #b09a81;
   /* Коричневый */
   --blue: #1085c5;
   /* Синий  */
}
*,
*:before {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}

html,
body,
section {
   width: 1100px;
   height: 100%;
   margin: 0;
   padding: 0;

   /* overflow-x: hidden; */
}

body {
   height: 100%;
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   line-height: 1.6em;
   color: var(--dark);
}

/* section {
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
} */

h1,
h2,
h3 {
   font-family: "Neucha", cursive;
   font-weight: 400;
   line-height: 1.2em;
   margin-top: 0;
   margin-bottom: 0;
}
h1 {
   font-size: 72px;
}
h2 {
   font-size: 60px;
}
h3 {
   font-size: 34px;
}

.header {
   /* position: absolute; */
   width: 1440px;
   height: 914px;
   left: 0px;
   top: 0px;
}

.header::before {
   content: "";
   position: absolute;
   /* align-content: left; */
   width: 100%;
   height: 100%;

   background-image: url(Images/background.png);
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 10%;
   left: 0px;
   top: 0px;
}

.title-main {
   position: absolute;
   width: 1138px;
   height: 258px;
   left: 165px;
   top: 100px;
   text-align: left;
}

.title-1 {
   width: 1138px;
   height: 177.12px;
   left: 165px;
   top: 100px;
   color: var(--base);
}

.title-2 {
   width: 1138px;
   height: 73.71px;
   left: 165px;
   top: 284.29px;

   color: var(--dark);
}

.main-foto {
   position: absolute;
   width: 1082.81px;
   height: 525px;
   left: 444px;
   top: 45px;
}

.text-main {
   position: relative;
   height: 186px;
   margin-top: 560px;
   text-align: left;
}

.text-1 {
   position: absolute;
   width: 540px;
   height: 141px;
   left: 165px;
}

.text-2 {
   position: absolute;
   width: 540px;
   height: 186px;
   left: 740px;
}
.button {
   position: absolute;
   width: 148px;
   height: 49px;
   left: 715px;
   top: 210px;
   margin: 12px 24px;
   background-color: var(--base);
}
a {
   color: var(--white);
   font-weight: 700;
   text-transform: uppercase;
}

/** БЛОК ВИДЕО */

.video-main {
   position: absolute;
   /* position: relative; */
   width: 1440px;
   height: 914px;
   left: 0px;
   top: 914px;
}
.title-video {
   position: absolute;
   width: 1110px;
   height: 220px;
   left: 165px;
   top: 100px;
   margin-bottom: 100px;

   text-align: center;
}

.text-video-1 .title-video-1 {
   align-items: center;
   color: var(--dark);
}

.text-video-2 {
   text-align: center;
   color: var(--base);
}

.title-video-1 {
   margin-top: 32px;
}

.video {
   position: absolute;
   align-items: center;
   left: 261px;
   top: 360px;
   filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
   z-index: 1;
}

.nav {
   position: absolute;
   width: 1440px;
   height: 1041px;
   left: 0px;
   top: 1743px;

   background: var(--base_dark);
}

table {
   position: relative;
   border-collapse: separate;
   border-spacing: 30px 20px;
   left: 165px;
   padding-top: 200px;
}

td {
   height: 348px;
   width: 350px;
   background-color: white;
}

.card-main {
   background: var(--base_dark);
   text-align: top;

   font-family: "Neucha", cursive;
   font-size: 52px;
   line-height: 120%;
   color: var(--base);
}
span {
   color: var(--white);
}
.card {
   padding: 24px;
   vertical-align: top;
}

.num {
   position: relative;
   height: 64px;
   font-family: "Neucha", cursive;
   font-weight: 400;
   font-size: 64px;
   top: 24px;
   margin-bottom: 40px;
}

.card-title {
   font-family: Neucha;
   font-style: normal;
   font-weight: normal;
   font-size: 34px;
   line-height: 120%;
   color: var(--base);
}

/*! Посчитать все расстояния начиная с видео*/
/* отработать branch соединить потом*/
/* найти css linter */
