@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

:root {
  --white: #fff; /* белый */
  --translucent-white: #d7ccc0; /* полупрозрачный белый */
  --bright: #f5f4f0; /* светлый */
  --base: #fe8a02; /* Основной */
  --base_dark: #42413c; /* Основной тёмный */
  --dark: #2a2626; /* Тёмный */
  --translucent-dark: #908d8b; /* Полупрозрачный тёмный */
  --brown: #b09a81; /* Коричневый */
  --blue: #1085c5; /* Синий  */
}

*,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

html,
body,
section {
  width: 1440px;
  height: 100%;
  padding: 0;
  margin: 0;
}

table,
tr,
td {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Neucha", cursive;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* ! header */

header {
  position: relative;
  left: 0 px;
  width: 1440px;
  height: auto;
  padding: 100px 165px;
}

header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  max-width: 100%;
  height: 960px;
  max-height: 100%;
  vertical-align: middle;
  content: "";
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.title-main {
  position: relative;
  z-index: 2;
  height: 258px;
  text-align: left;
}

.title-1 {
  color: var(--base);
}

.title-2 {
  color: var(--dark);
}

.main-foto {
  position: absolute;
  top: 55px;
  left: 461px;
  z-index: 1;
  width: 1082.81px;
  height: 525px;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

article {
  width: 1110px;
  height: 186px;

  margin-top: 201px;
  /* border-spacing: 0px;
  border-width: 0px; */
  
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 > p {
  margin-top: 0;
}
/* ? поиграться со шрифтом */
.button {
  position: relative;
  top: 8px;
  left: 545px;
  width: 148px;
  height: 50px;
  margin: 12px 24px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* text-align: left; */
  letter-spacing: 0 em;
  cursor: pointer;
  background-color: var(--base);
  border: none;
}

/*! БЛОК ВИДЕО */

/*? ПРОДОЛЖИТЬ ОТСЮДА */

.video-main {
  position: relative;
  /* position: absolute; */
  /* top: 914px; */
  left: 0 px;
  width: 1440px;
  height: 801px;
  padding-left: 165px;
  background-color: #fff;
}

.title-video {
  position: absolute;
  top: 94px;

  /* left: 165px; */
  width: 1110px;
  height: 220px;
  margin-bottom: 100px;
  text-align: center;
}

.title-video-1 {
  margin-top: 32px;
}

.text-video-1 .title-video-1 {
  align-items: center;
  color: var(--dark);
}

.text-video-2 {
  color: var(--base);
  text-align: center;
}

.video {
  position: absolute;
  top: 325px;
  left: 261px;
  z-index: 1;
  align-items: center;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* ! Navigation */

#navigation {
  /* position: relative;
  /* position: absolute;*/
  /*top: -100px; */
  left: 0 px;
  width: 1440px;
  height: 991px;
  /* padding: 0px 165px 100px 165px; */
  /* padding-left: 145px; */
  background: var(--base_dark);
}

#navigation > table {
  /* position: relative;

  left: 145px; */
  width: 1270px;
  height: 691px;
  padding-top: 180px;
  padding-left: 135px;

  border-spacing: 30px 20px;
  border-collapse: separate;
 
}

.line-1 {
border-top: o;
border-left: 0;
border-right: 0;
}

#navigation > table > td {
  background-color: var(--white);
 
}

.card-main {
  position: absolute;
  padding: 0;
  font-family: "Neucha", cursive;
  font-size: 52px;
  line-height: 120%;
  color: var(--base);
  text-align: top;
  background: var(--base_dark);
}

span {
  color: var(--white);
}

.card {
  width: 350px;
  height: 323px;
  padding: 16px 20px 24px 29px;
  vertical-align: top;
  background-color: var(--bright);
}

.card-1 {
  width: 350px;
  height: 348px;
  padding: 16px 20px 24px 29px;
  vertical-align: top;
  background-color: var(--bright);
}

.num {
  position: relative;
  top: 28px;
  height: 64px;
  margin-bottom: 40px;
  font-family: "Neucha", cursive;
  font-size: 64px;
  font-weight: 400;
}

.card-title {
  padding-top: 8px;
  margin-bottom: 16px;
  font-family: "Neucha", cursive;
  font-size: 34px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  color: var(--base);
}

/*!  Ikea Effect */

#ikea-effect {
  /* Position: relative; */
  width: 1440px;
  height: 914px;
  /*top: 2719px; */
}

.table-main {
  /* position: relative; */
  /* top: 97px; */
  width: 1110px;
  padding: 100px 165px;
  margin: 0;

  border-width: 0px;
  border-spacing: 0px;
 
  left: 163px;
}

.page {
  /* position: absolute;
  left: 0; */
  width: 1440px;
  height: auto;
}

.page::before {
  /* position: absolute; */
  left: 0;
  width: 1440px;
  /* max-width: 100%; */
  height: 100%;
  /* max-height: 100%; */ */
  /* vertical-align: middle; */
  content: "";
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.img-title > td {
  width: 50%;
  vertical-align: top;
}

.img-title {
  height: 534px;
}

.page-img {
  position: absolute;
  z-index: 1;
  width: 578px;
  height: 434px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.topic-title-1,
.topic-title-2,
.topic-title-3 {
  padding-left: 53px;
  margin: 0;
  font-family: "Neucha", cursive;
  font-weight: 400;
}

.topic-title-1 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: var(--translucent-dark);
}

.topic-title-2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 70px;
  color: var(--dark);
}

.topic-title-3 {
  margin: 0px;

  font-size: 34px;
  line-height: 40px;
  color: var(--dark);
}

.topic-text-title {
  column-span: all;
  width: 1110px;
  height: 26px;
  padding: auto;
  padding-left: 10px;
  margin: 0;
  /* font-size: 16px; */
  /* font-family: Open Sans; */
font-size: 16px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.02em;
 color: var(--white);
  text-align: left;
  vertical-align: top;
  background-color: var(--brown);
}

.description-1 {
  padding-right: 10px;
  padding-top: 4px;
  margin: 0;
  vertical-align: top;
}

.description-2 {
  /* padding-top: 1px; */
  padding-left: 15px;
  padding-top: 4px;
  margin: 0;
  vertical-align: top;
}

/*! Оптимизация */

#premature-optimization {

  left: 0;
  width: 1440px;
  height: fit-content;
  padding: 100px 165px;
  background-color: var(--brown);
 
}
.table-main-random {
  position: relative;
  width: 1110px;
  padding: 0;
  margin: 0;
  border-spacing: colapse;
}

.img-title-left {
  width: 1110px;
  height: 533px;
  vertical-align: top;
}

.left-topic > p {
  padding-left: 0;
}

.left-topic > .topic-title-1 {
  color: var(--translucent-white);
}

.left-topic > .topic-title-2 {
  color: var(--white);
}

.left-topic > .topic-title-3 {
  color: var(--translucent-white);
}

.light-title > td > h4 {
  color: var(--brown);
  background-color: var(--white);
}

.img-right {
  position: absolute;
  top: 0;
  left: 530px;
}

.light {
  color: var(--white);
}

.description-1 > p {
margin-bottom: 0;
}

.description-2 > p {
  margin-bottom: 0;
  }
  

.left {
  padding-left: 19px;
}

/*! конец Pre страницы */

#distortion-of-novelty {
  top: 5529px;
}

/*! конец dist страницы */

#hyperbolic-depreciation {
  top: 5409px;
  background-color: var(--brown);
}

/*! конец Giper страницы */

#errors-in-planning {
  top: 7346px;
}

blockquote {
  margin-left: 0;
}

/* конец Err страницы */

#footer {
  position: absolute;
  top: 7265px;
  left: 0 px;
  width: 1440px;
  height: 580px;
  background: var(--white);
}

.subscribe {
  position: absolute;
  top: 100px;
  left: 165px;
  width: 1110px;
  height: 190px;
  column-count: 2;
  break-after: inherit;
  color: var(--white);
  background: var(--base_dark);
}

.rules {
  margin-top: 0;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
}

.rules > a {
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
  text-decoration: underline;
  text-transform: none;
}

.sub-title-1 {
  margin: 55px;
  font-family: "Neucha", cursive;
  font-size: 34px;
  line-height: 41px;
}

.sub-text-2 {
  margin: 15px 0 10px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 160%;
}

::placeholder {
  opacity: 20%;
}

.submit {
  display: flex;
  justify-content: row;
  width: 490px;
  height: 50px;
  margin-left: 15px;
}

#form-text,
#sub-text {
  width: 420px;
  height: 50px;
  padding: 0;
  border: none;
}

.btn {
  width: 70px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--base);
  border: none;
}

.info {
  position: absolute;
  top: 260px;
  left: 320px;
  width: 490px;
  height: 120px;
  font-size: 14px;
  line-height: 1.6em;
  color: var(--dark);
  text-align: center;
}

.info > p > a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--blue);
  text-decoration: underline;
  text-transform: initial;
}

/* попробовать модифицировать в вестке table */
